.slider {
    width: 70%;
    height: 8px;
    background-color: #58595c;
    margin-top: 20px;
}

.slider .thumb {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: #58595c;
    border-radius: 50%;
    border: 2px solid #00A88E;
    top: -10px;
}

.track-1 {
    background-color: #00A88E;
    height: 8px;
}
