
.search-bar {
    width: 99%;
    height: 36px;
    background-color: rgb(46, 44, 44);
    padding: 3px 10px;
    border: 0;
    border-radius: 3px;
    color: white;   
    font-size: 1em;
}

.search-button {
    width: 13%;
    font-size: 1em;
    height: 42px;
    padding: 3px;
    background-color: rgb(46, 44, 44);
    color: white;
    border: 0;
    border-radius: 3px;
}

.search {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.search-bar:focus {
    outline: none !important;
    border: none;
    color: white;
}